.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.title {
  text-align: center;
}

.link {
  color: skyblue;
  margin: 10px;
  font-style: italic;
}

.link:hover {
  text-decoration: underline;
  font-weight: bold;
}
